*.o
*~
*.set
*.a
!DSPpar.set
*Dict*
PlxSdk/
_book/
Pixie16msg.txt
trace.dat
data/
decode
event
pku
README/node_modules/*
*.root
broadcom_pci_pcie_sdk/
pixie_sdk-3.1.1/
pixie_sdk-3.2.0.tar.gz
GUIqt
GUIsdk/
pixie_sdk-3.4.0/
pixie_sdk-3.4.0.tar.gz
pixiesdk/
parset/wuhongyi/
